.container {
    display: flex;
    height: 600px;
    flex-direction: column;
    flex: 1;
}

.buttonClass {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}


.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.square {
    flex: 1;
}